name: C Demos

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '!demo/c/README.md'
      - '.github/workflows/c-demos.yml'
      - 'demo/c/**'
      - 'lib/common/**'
      - 'lib/jetson/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/audio_samples/test.wav'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - '!demo/c/README.md'
      - '.github/workflows/c-demos.yml'
      - 'demo/c/**'
      - 'lib/common/**'
      - 'lib/jetson/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/audio_samples/test.wav'

defaults:
  run:
    working-directory: demo/c

jobs:
  build-micdemo-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build micdemo
      run: cmake --build ./build --target koala_demo_mic

  build-micdemo-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build micdemo
      run: cmake --build ./build --target koala_demo_mic

  build-filedemo-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
        - os: ubuntu-latest
          platform: linux
          arch: x86_64
          ext: so
        - os: windows-latest
          platform: windows
          arch: amd64
          ext: dll
        - os: macos-latest
          platform: mac
          arch: x86_64
          ext: dylib

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build filedemo
      run: cmake --build ./build --target koala_demo_file

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_koala.${{ matrix.ext }}
        model_path: ../../lib/common/koala_params.pv
        input_path: ../../resources/audio_samples/test.wav
        output_path: ./output.txt

  build-filedemo-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson]
        include:
        - machine: rpi3-32
          platform: raspberry-pi
          arch: cortex-a53
        - machine: rpi3-64
          platform: raspberry-pi
          arch: cortex-a53-aarch64
        - machine: rpi4-32
          platform: raspberry-pi
          arch: cortex-a72
        - machine: rpi4-64
          platform: raspberry-pi
          arch: cortex-a72-aarch64
        - machine: jetson
          platform: jetson
          arch: cortex-a57-aarch64

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build filedemo
      run: cmake --build ./build --target koala_demo_file

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_koala.so
        model_path: ../../lib/common/koala_params.pv
        input_path: ../../resources/audio_samples/test.wav
        output_path: ./output.txt