name: Python Performance

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/python-perf.yml'
      - 'binding/python/__init__.py'
      - 'binding/python/_koala.py'
      - 'binding/python/_util.py'
      - 'binding/python/test_koala_perf.py'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/audio_samples/test.wav'
  pull_request:
    branches: [ main, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/python-perf.yml'
      - 'binding/python/__init__.py'
      - 'binding/python/_koala.py'
      - 'binding/python/_util.py'
      - 'binding/python/test_koala_perf.py'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/audio_samples/test.wav'

defaults:
  run:
    working-directory: binding/python

jobs:
  perf-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        device: [ cpu:1 ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        include:
        - os: ubuntu-latest
          proc_performance_threshold_sec: 0.8
        - os: windows-latest
          proc_performance_threshold_sec: 0.8
        - os: macos-latest
          proc_performance_threshold_sec: 0.8

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Pre-build dependencies
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Test
      run: >
        python3 test_koala_perf.py
        --access-key ${{secrets.PV_VALID_ACCESS_KEY}}
        --num-test-iterations 20
        --proc-performance-threshold-sec ${{matrix.proc_performance_threshold_sec}}
        --device ${{ matrix.device }}

  perf-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        device: [ cpu:1 ]
        machine: [ rpi3-32, rpi3-64, rpi4-32, rpi4-64, rpi5-64 ]
        include:
        - machine: rpi3-32
          proc_performance_threshold_sec: 2.5
        - machine: rpi3-64
          proc_performance_threshold_sec: 2.5
        - machine: rpi4-32
          proc_performance_threshold_sec: 2.5
        - machine: rpi4-64
          proc_performance_threshold_sec: 2.5
        - machine: rpi5-64
          proc_performance_threshold_sec: 0.5

    steps:
    - uses: actions/checkout@v3

    - name: Machine state before
      working-directory: resources/scripts
      run: bash machine-state.sh

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Test
      run: >
        python3 test_koala_perf.py
        --access-key ${{secrets.PV_VALID_ACCESS_KEY}}
        --num-test-iterations 20
        --proc-performance-threshold-sec ${{matrix.proc_performance_threshold_sec}}
        --device ${{ matrix.device }}

    - name: Machine state after
      working-directory: resources/scripts
      run: bash machine-state.sh

  perf-self-hosted-desktop:
    runs-on: ${{ matrix.machine }}

    strategy:
      fail-fast: false
      matrix:
        device: [ gpu ]
        machine: [ pv-linux, pv-windows, pv-windows-igpu, pv-ios ]
        include:
          - device: cpu:1
            machine: pv-windows-arm64
            proc_performance_threshold_sec: 0.8
          - machine: pv-linux
            proc_performance_threshold_sec: 0.8
          - machine: pv-windows
            proc_performance_threshold_sec: 0.8
          - machine: pv-windows-igpu
            proc_performance_threshold_sec: 0.8
          - machine: pv-ios
            proc_performance_threshold_sec: 0.8

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Test
      run: >
        python3 test_koala_perf.py
        --access-key ${{secrets.PV_VALID_ACCESS_KEY}}
        --num-test-iterations 20
        --proc-performance-threshold-sec ${{ matrix.proc_performance_threshold_sec}}
        --device ${{ matrix.device }}
